.menu {
	display: block;
	height: 100vh;
	overflow-y: auto;
	border-right: 1px solid #dddddd;
	background-color: #ffffff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 345px;

	&__list {
		list-style: none;
		line-height: 3.5;
		padding: 0;

		&-link {
			text-decoration: none;
			color: #0984e3;
			font-size: 1.2em;
			display: flex;
			align-items: center;
			gap: 0.4em;
			padding: 0 2em;
			transition: all 0.2s ease-in;

			&--github {
				color: #196127;
			}
			&--linkedin {
				color: #0077b5;
			}
			&--gmail {
				color: #db4437;
			}
			&--telegram {
				color: #0088cc;
			}

			&:hover {
				background: #f5f5f5;
			}
		}
	}
}
