.user-info {
	.ant-modal-header {
		border-bottom: 1px solid #dddddd;
		padding-bottom: 15px;
	}
	.ant-modal-footer {
		border-top: 1px solid #dddddd;
		padding-top: 15px;
	}
	.ant-modal-body {
		padding: 15px 0;
	}
	.ant-col {
		display: flex;
		align-items: center;
		min-height: 60px;
	}

	&__list {
		margin: 0;
		list-style: none;
		padding: 0;
		&-item {
			display: flex;
			gap: 0.5em;
			&-label {
				color: #888888;
				font-weight: 900;
				font-size: 0.9em;
			}
			&-value {
				color: #333333;
				font-size: 1em;
			}
		}
	}
}
